Source: moxa-hwmon-ina2xx-driver
Section: kernel
Priority: optional
Maintainer: Elvis Yao <ElvisCW.Yao@moxa.com>
Standards-Version: 4.1.3
Build-Depends: debhelper (>= 10),
               libc6-dev,
               linux-headers-4.9.0-12-amd64
Homepage: https://www.moxa.com/

Package: moxa-hwmon-ina2xx-driver-amd64
Architecture: amd64
Depends: ${misc:Depends},
         linux-image-4.9.0-12-amd64
Description: The purpose of this driver is hardware monitor ina219.
